:root {
    --light: #e0e5ec;
    --dark: #181818;

    --height: 60px;
}

body {
    background: var(--dark)
}

.inline {
    display: flex;
}

.newName {
    height: var(--height);
    width: 300px;

    color: #fff;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    border: none;
    outline: none;
    box-shadow:inset
     0px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    
    background: transparent;
    cursor: pointer;

    padding: 10px 25px;
    position: relative;
    display: block;
    box-sizing: border-box;

}

.button {
    margin: 20px;
}

/* credit: @yuhomyan>  thanks for the button*/
.confirm {
    height: var(--height);
    width: var(--height);
    color: #fff;
    
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;

    border: none;
    outline: none;
    box-shadow:inset
     -2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    
    background: transparent;
    cursor: pointer;

    padding: 10px 25px;
    position: relative;
    display: block;
    box-sizing: border-box;


    transition: all 0.3s ease;
  }
  
  .confirm:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .confirm:hover {
    color: #000;
  }
  .confirm:hover:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  .confirm:active {
    top: 2px;
  }